body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

button {
    padding: .8rem 1rem;
    outline: none;
    background: rgb(8, 190, 69);
    border: none;
    border-radius: 2rem;
    display: block;
    color: #fff;
    cursor: pointer;
    transition: all .4s ease-in-out;
    width: 7rem;
    margin: 0 auto;

}

button:hover {
    background: rgb(16, 56, 144);

}